@font-face {
    font-family: 'Nimbus';
    src: url('../fonts/TAN-NIMBUS.ttf') format('truetype')
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    color: #FCFFFF;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
 }

 #me, #about, #contact {
    display: none;
 }

 #about {
    background-color: #C7057C;
 }

 .lpink {
    background-color: #FF78CB;
 }

svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.loading-title {
    font-size: 9.5vw;
    position: absolute;
    width: 100%;
    height: 30%;
    left: 5%;
    top: 10%;
    z-index: 2;
    font-family: Nimbus;
    font-weight: lighter;
}

.about-text {
    font-size: 6vw;
    position: absolute;
    margin: 0 auto;
    width: 80%;
    height: auto;
    top: 25%;
    left: 10%;
    z-index: 4;
    font-family: "League Spartan", system-ui;
    font-weight: 600;
    text-align: justify;
}

.work-title {
    text-align: center;
    font-size: 7vw;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: auto;
    top: 130%;
    left: -10%;
    z-index: 3;
    font-family: Nimbus;
    font-weight: lighter;
}

.title {
    font-size: 11.5vw;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: auto;
    top: 5%;
    z-index: 4;
    font-family: Nimbus;
    font-weight: lighter;
    max-height: 375px;
}

.right-text {
    text-align: right; 
    margin-right: 15%;
}

.me-right-text {
    text-align: right; 
    margin-right: 20%;
}

.left-text {
    text-align: left; 
    margin-left: 15%;
}

.me-left-text {
    text-align: left; 
    margin-left: 20%;
}

.highlight {
    background-color: #FF50BB;
    padding: 0px 3px;
    border-radius: 25px;
}

.text-center {
    text-align: center;
}

.contact-links {
    position: relative;
    left: -10%;
    top: 45%;
    width: 100%;
    height: 30%;
}

.icon-link {
    text-align: center;
    font-size: 5vw;
    position: absolute;
    margin: 0 auto;
    height: auto;
    top: 25%;
    z-index: 5;
    font-family: "League Spartan", system-ui;
    font-weight: 600;
    max-height: 375px;
}

#link-1 {
    left: 30%;
}

#link-2 {
   left: 65%;
}

.icon {
    width: 50px;
}

@media (min-width:961px) and (orientation: landscape) {
    .title {
        font-size: 5vw;
        top: 2%;
    }
    
    .work-title {
        text-align: center;
        font-size: 2vw;
    }

    .me-right-text {
        margin-right: 40%;
    }

    .me-left-text {
        margin-left: 40%;
    }

    .right-text {
        margin-right: 30%;
    }

    .left-text {
        margin-left: 30%;
    }

    .about-text {
        font-size: 2vw;
        top: 50%;
    }

    .contact-links {
        top: 55%;
    }

    .icon-link {
        font-size: 2vw;
    }

    #link-1 {
         left: 50%;
    }

    #link-2 {
        left: 61%;
    }
}

@media (min-width:961px) and (orientation: portrait) {
    .icon {
        width: 100px;
    }
}

#picture {
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.downArrow{
	position: absolute;
	left: 50%;
    bottom: 0%;
    z-index: 4;
    color: #C7057C;
}

.dark {
    color: #C7057C;
}

.light {
    color: #FF78CB;
}

a {
    color: inherit;
}